@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'AdorshoLipi', sans-serif;
}
.sideNav{
    box-shadow: none;
} 

.nav{
    box-sizing: none!;
}

@media (max-width: 800px) {
    .sideNav{
        box-shadow: rgba(0, 0, 0, 0.15) 0px -6px 7px 0px;
    } 
    .nav{
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
    body{
        background-color: #F1F5F9;
    }
    .hadisSideBer{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transition: 0.9s;
    }
    .hadisSideBerHidden{
        position: absolute;
        top: 0;
        left: -2000px;
        transition: 0.9s;
    }

    .setting{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transition: 0.9s;
    }
    .settingHidden{
        position: absolute;
        top: -2000px;
        transition: 0.9s;
    }
  }